<div id="figure">
	<img src="images/headline-about.jpg" alt="Image">
	<span>About Our Products!</span>
</div>
<div>
	<a href="about.html" class="about">About</a>
	<div>

		<h3>We Have Coffee for Everyone</h3>
		<p>
		Unless we run out. 
		</p>

		<h3>We Even Have Tea!</h3>
		<p>
		Hot, iced, sweet... just how you like it!
		</p>

		<h3>We Don't Have Beer</h3>
		<p>
		But it would be rad if we did! 
		</p>


	</div>
</div>